<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POC Account.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E89B9E87239A532700D1104F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E89B9E9D239A532C00D1104F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E89B9EA8239A532C00D1104F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
